.body {
    background-image: url(https://images2.alphacoders.com/104/thumb-1920-1042813.jpg);
}

.dropbtn {
    background-color: lightskyblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: lightslategray;
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: aquamarine;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-hover .dropbtn {
    background-color: lightseagreen;
} 
