.head {
    min-width: 1100px;
    width:75%;
    height: 9%;
    margin:auto;
    position:relative;
    background-color:  rgb(145, 145, 145);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.body {
    min-width: 150px;
    width:10%;
    height: 45%;
    margin-left:15vw;
    float: left;
    position:relative;
    background-color:  rgb(145, 145, 145);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.body2 {
    min-width: 150px;
    width:10%;
    height: 45%;
    margin-left:1vw;
    float: left;
    position:relative;
    background-color:  rgb(145, 145, 145);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.middle {
    min-width: 150px;
    width:45%;
    height: 55%;
    float: left;
    margin-left:1vw;
    position:relative;
    background-color:  rgb(145, 145, 145);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.promt {
    min-width: 150px;
    width:33vw;
    height: 12vw;
    float: left;
    top:740px;
    left: 180px;
    margin-left:1vw;
    position:absolute;
    background-color:  greenyellow;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.day {
    position:absolute;
    left:0;
    bottom: 1px;
    text-align: left;
}
.glass {
    position:absolute;
    bottom: -15px;
    right: 16px;
}
.cross {
    position:absolute;
    bottom: 1px;
    right: 16px;
    text-align: left;
}
.text {
    margin-left:1vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1vw;
}
.texta {
    margin-left:1vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1vw;
    text-shadow: 2px 2px 2px red;
}
.entrez {
    font-size:3vw;
}
.button {
    width: 10vw;
    font-size:1vw;
    font-family:Arial, Helvetica, sans-serif;
}
.reload {
    position:absolute;
    bottom: 90px;
    right: 16px;
    text-align: left;
}
.brick{
    background-image: url(resources/brick.jpg);
    background-repeat: repeat;
    width:90%;
    height:17%;
    margin-left:0.5vw;
    margin-top:1vw;
}